.editchannelcontainer{
    padding: 48px;
    background-color: #36393f;

    width: 40%;
}
.editchanneltitle{
    margin-top: -5px;
    margin-bottom: 25px;

    font-size: 16px;
    color: white;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    }


.editechanneltitletitle{
    font-size: 12px;
    margin-bottom: 10px;
    color: #B9bbbe;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.editchannelinput{

    padding: 10px;
    width: 100%;

    margin-left: -5px;
    height: 24px;
    background-color: #202225;
    border: none;
    border-radius: 3px;
    color: #B9BBBE

}
.submiteditcont{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#submiteditchannel{
    margin-top: 25px;
    cursor:pointer;

    border: none;
    background-color: #5865F2;
    color: white;
    height: 38px;
    width: 100px;
    margin-right: -12px;
}

.editform{
    margin-left: -10px;
}
