.channelitem {
    width: 100%;
    margin: 2px 0px;
    height: 25px;
    padding: 6px 8px;
}

.channelitemseparator {
    width: 100%;
    border-bottom: 1px solid rgba(79, 84, 92, 0.48);
}

.channelbutton {

    width: 50px;
    height:40px;
    background-color: #18191c;
    border: none;
    color: #B9BBBE;
    text-align: justify;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;

}

.channelbutton:hover{
    background-color: #738ADB;
    color:white;
}
