body{
    margin:0px;
}

.dashboardcontainer{
    width: 100%;
    height: 103vh;
    display: flex;
    flex: 1 1 auto;
    margin: 0px;


}

.servernavcontainer{
    display: flex;
    width: 72px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
    overflow: hidden;

    min-height: 0;

}

.servernavcontainer::-webkit-scrollbar {
    display: none;
}



.friendslistcontainer{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F3136;

}
.friendslistlist{
    margin-left: 5px;

    margin-top: 10px;
    margin-right: 20px;

    color:#96989d;
    font-size: 14px;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.friendslistlistfocus{
    margin-left: 5px;

    margin-top: 10px;
    margin-right: 20px;

    color:white;
    font-size: 14px;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}




.channellist:hover{
    background-color: #4F545C99;

}


.friendslistheader{
    color:white;
    margin-left: 10px;
    margin-top: 0px;



    height: 24px;
    padding: 12px 16px;
    width: 92%;
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 16px;
    line-height: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-wrap: anywhere;

}
.listofchannels{
    width:100%;
    height: 80%;
    overflow-y: auto;

    padding: 0px;
    margin-left: 10px


}
.listofchannels::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.listofchannels::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.listofchannels::-webkit-scrollbar-corner {
    background-color: transparent;
}

.listofchannels::-webkit-scrollbar-thumb {
    background-color: #4a4d52;
    border: 2px solid #282a2d;
    border-radius: 10px;
}


.channellist{
    display: flex;
    padding: 1px;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 34px;
    width: 92%;
    margin-left: 1.5%;
    text-align: center;
    line-height: 1;
    border-radius: 3px;
    color:#96989d;

}

.channellistfocus{
    display: flex;
    padding: 1px;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 34px;
    width: 92%;
    margin-left: 1.5%;
    text-align: center;
    line-height: 1;
    background-color: #4F545C99;
    border-radius: 3px;
    color: white;

}

.CMContainer{
    flex-grow: 1;
    background-color: #36393F;
    margin-top: 48px;
    display: flex;
    outline: none;
}

.THContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position: absolute;
    right: 0%;

    height: 48px;
    border-bottom: 1px black solid;
    width: calc(100% - 352.5px);
    background-color: #36393F;
    position: absolute

}

.serverslist{
    margin-top: -20px;
    height: 92%;
    overflow-y: scroll;
    margin-left: 10px;

    padding-right: 40px;


}
.addserversbutton{
    height: 10%;

}
.addserver{
    margin-top: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:  #2F3136;
    border: none;
    cursor:pointer;

}

.addserver:hover{
    background-color: #37ff77;
    border-radius: 35%;
    transition: 0.15s ease-out


}
.addserver:focus{
    background-color: #37ff77;
    border-radius: 35%;
    transition: 0.15s ease-out
}
.addserver:active{
    background-color: #37ff77;
    border-radius: 35%;
    transition: 0.15s ease-out
}



.serverbuttons{
    margin-top: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:  #2F3136;
    border: none;
    color: white;
    font-size: 100%;
    font-weight: 500;
    cursor:pointer;
}


.serverbuttons:hover{
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    border-radius: 35%;
    transition: 0.15s ease-out;




}

.serverbuttonsfocus{
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    border-radius: 35%;
    transition: 0.15s ease-out;
    height: 50px;
    width: 50px;
    border: none;
    color: white;
    font-size: 100%;
    font-weight: 500;
    cursor:pointer;
    margin-top: 20px;

}

.channelhash{
    color: #96989d;
}

.ChannelName{
    color: white;
    font-size: 16px;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.serverlist-list{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
}
.serverslistchild{
    margin-left: 5px;

}

footer{
    bottom: 0%;
}

.usernamefoot{
    color: white;
    font-size: 16px;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 20px;

}

.logoutbut{
    color: white;
    border: none;
    background-color: #ED4245;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}


.dropbtn {
    background-color:  #2F3136;
    color: white;

    border: none;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2F3136;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
}


  .dropdown:hover .dropdown-content {
    display: block;
}




.joinserverbutton{
    margin-left: -10px;
    margin-bottom: -10px;
}

.addserversbutton{
    margin-left:-10px;
}

.onServer{
    position: absolute;

    margin-top: 40px;
    margin-left: -14px;


    width: 8px;
    background-color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    border-radius: 0px 4px 4px 0px;
    height: 7px;
    visibility: hidden;
}

.onserverdis{
    position: absolute;
    margin-left: -14px;
    width: 8px;
    margin-top: 25px;
    visibility: visible;
    height: 40px;
    transition: 0.15s ease-out;
    border-radius: 0px 4px 4px 0px;
    background-color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
}

.serverlist-list:hover .onServer{
    height: 15px;
    transition: 0.15s ease-out;
    margin-top: 35px;

    visibility: visible;
}
