body{
    margin:0px;
}

.dashboardcontainer{
    width: 100%;
    height: 103vh;
    display: flex;
    flex: 1 1 auto;
    margin: 0px;


}

.servernavcontainer{
    display: flex;
    width: 72px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #202225;

    min-height: 0;

}

.servernavcontainer::-webkit-scrollbar {
    display: none;
}



.friendslistcontainer{
    width: 224px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F3136;

}
.friendslistlist{
    color:#96989d;
    font-size: 16px;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}
.friendslistheader{
    color:white;

    height: 24px;
    padding: 12px 16px;
    width: 85%;
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
.listofchannels{
    width:100%;

}

.channellist{
    display:block;
    height: 34px;
    width: 100%;

}

.CMContainer{
    flex-grow: 1;
    background-color: #36393F;
    margin-top: 48px;
    display: flex;
    outline: none;
}

.THContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    position: absolute;
    right: 0%;

    height: 48px;
    border-bottom: 1px black solid;
    width: calc(100% - 325px);
    background-color: #36393F;
    position: absolute

}

.serverslist{
    height: 92%;
}
.addserversbutton{
    height: 10%;
}
.addserver{
    margin-top: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:  #2F3136;
    border: none;

}

.addserver:hover{
    background-color: #37ff77;
    border-radius: 35%;
    transition: 0.15s ease-out


}
.addserver:focus{
    background-color: #37ff77;
    border-radius: 35%;
    transition: 0.15s ease-out
}
.addserver:active{
    background-color: #37ff77;
    border-radius: 35%;
    transition: 0.15s ease-out
}



.serverbuttons{
    margin-top: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:  #2F3136;
    border: none;
    color: white;
    font-size: 100%;
    font-weight: 500;
    cursor:pointer;
}



.serverbuttons:hover{
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    border-radius: 35%;
    transition: 0.15s ease-out

}

.serverbuttons:focus{
    background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    border-radius: 35%;
    transition: 0.15s ease-out
}

.channelhash{
    color: #96989d;
}

.ChannelName{
    color: white;
    font-size: 16px;
    font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
